{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-react",
    "eslint-plugin-prettier",
    "jam3"
  ],
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      1,
      {
        "parser": "typescript"
      }
    ],
    "jam3/no-sanitizer-with-danger": [
      2,
      {
        "wrapperName": [
          "sanitize"
        ]
      }
    ],
    "react/no-unescaped-entities": 0
  }
}